<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      {% with request.resolver_match.view_name as view_name %}
      <ul class="nav nav-pills col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a href="{% url 'homepage:homepage' %}" class="nav-link {% if view_name == 'homepage:homepage' %} disabled {% else %} activate {% endif %}">
            Главная
          </a>
        </li>
        <li>
          <a href="{% url 'catalog:product_list' %}" class="nav-link px-2 {% if view_name == 'catalog:product_list' %} disabled {% else %} activate {% endif %}">
            Каталог
          </a>
        </li>
        <li>
          {% with total_items=cart|length %}
            {% if total_items > 0 %}
            <a href="{% url 'cart:cart_detail' %}" class="nav-link px-2 {% if view_name == 'cart:cart_detail' %} disabled {% else %} activate {% endif %}">
              Корзина: {{ total_items }} товаров, {{ cart.get_total_price }} руб.
            </a>
            {% else %}
            <a href="#" class="nav-link px-2 disabled">
              Корзина пуста
            </a>
            {% endif %}
          {% endwith %}
        </li>
      </ul>
      {% endwith %}
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>
      
      {% if user.is_authenticated %}
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><form action="{% url 'users:logout' %}" method="post">
              {% csrf_token %}
              <button type="submit">Выйти</button>
            </form></li>
          </ul>
        </div>
      {% else %}
        <a href="{% url 'users:login' %}">Войти/Зарегистрироваться</a>
      {% endif %}
    </div>
  </div>
</header>